#sidebar {
    width: 250px; /* Definindo uma largura padrão */
    height: 100vh; /* Altura total da tela */
    position: fixed;
    left: 0;
    top: 0;
    background-color: #111;
    padding-top: 20px;
    transition: width 0.3s;
}

#sidebar_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#user {
    text-align: center;
    margin-bottom: 20px;
}

#user_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
}

#user_infos {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilizando os itens da sidebar */
#side_items {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.side-item {
    width: 100%;
    margin: 10px 0;
}

.side-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: background 0.3s;
}

.side-item a:hover {
    background-color: #575757;
}

.side-item i {
    margin-right: 10px;
}

/* Estilizando o botão de abrir/fechar a sidebar */
#open_btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -40px;
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
}

#open_btn:hover {
    background-color: #444;
}